<div class="comment-wrapper" id="comment-<%= comment.id %>">
  <div class="comment-text <%= "reply-comments" unless comment.root? %>">
    <p class="comment-content" id="content-<%= comment.id %>">
      <%= render "comments/comment_content", comment: comment %>
    </p>
    <% if can? :destroy, comment %>
      <div class="dropdown">
        <button class="dropbtn"><i class="fa fa-cog"></i></button>
        <div class="dropdown-content">
          <%= button_to post_comment_path(comment.post_id, comment.id),
            class: "delete-comment",
            method: :delete,
            remote: true,
            data: { confirm: t("sure_delete")} do %>
            <i class="fa fa-trash"></i>
          <% end %>
          <button data_id="<%= comment.id %>" class="edit-comment"
            data-toggle="modal" data-target="#edit-comment">
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    <% end %>
    <div id="like-unlike-comment">
      <%= render like_unlike(comment), object: comment %>
    </div>
  </div>
  <div class="reply <%= "reply-comments" unless comment.root? %>">
    <span class="date">
      <%= time_ago_in_words comment.created_at %>
    </span>
    <button data_id="<%= comment.id %>" 
      id="count-like-comment-<%= comment.id %>"
      data-id="<%= comment.id %>"
      data-toggle="modal" data-target="#list-modal-<%= comment.id %>"
      class="transparent-btn like-comment-list">
      <%= t ".count_like", count: count_like(comment) %>
    </button>
    <button comment_id="<%= comment.root? ? comment.id : comment.parent.id %>"
      class="reply-btn">
      <%= t ".reply" %>
    </button>
  </div>
</div>
<%= render partial: "shared/list_modal", locals: {object: comment} %>
