<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
  <%= link_to t(".edit_profile"), "#v-pills-home",
    class: "nav-link active", data: { toggle: "pill" },
    "aria-selected": true %>
  <%= link_to t(".change_password"), "#", class: "nav-link",
    data: { toggle: "pill" } %>
  <%= link_to t(".authorized_application"), "#", class: "nav-link",
    data: { toggle: "pill" } %>
  <%= link_to t(".email_sms"), "#", class: "nav-link",
    data: { toggle: "pill" } %>
  <%= link_to t(".manage_contact"), "#", class: "nav-link",
    data: { toggle: "pill" } %>
  <%= link_to t(".privacy_security"), "#", class: "nav-link",
    data: { toggle: "pill" } %>
</div>
