<% @user ||= current_user %>
<ul class="profile-stat">
  <li>
    <%= link_to "#" do %>
      <span><%= @user.posts.size %></span> <%= t ".posts"%>
    <% end %>
  </li>
  <li>
    <button id="followers-list" data-toggle="modal" data-target="#list-modal"
      class="transparent-btn" >
      <span id="followers"><%= @user.followers.size %></span>
      <%= t ".followers" %>
    </button>
  </li>
  <li>
    <button id="following-list" data-toggle="modal" data-target="#list-modal"
      class="transparent-btn" >
      <span><%= @user.following.size %></span>
      <%= t ".following" %>
    </button>
  </li>
</ul>
