<ul class="profile-stat">
  <li>
    <%= link_to "#" do %>
      <span>12</span> <%= t ".posts"%>
    <% end %>
  </li>
  <li>
    <%= link_to "#" do %>
      <span>12</span> <%= t ".followers" %>
    <% end %>
  </li>
  <li>
    <%= link_to "#" do %>
      <span>12</span> <%= t ".following" %>
    <% end %>
  </li>
</ul>
