<div class="user-tabs">
  <%= link_to @user, class: "tab active" do %>
    <i class="fa fa-th"></i>
    <%= t ".posts" %>
  <% end %>
  <%= link_to "", class: "tab" do %>
    <i class="fa fa-tv"></i>
    <%= t ".igtv" %>
  <% end %>
  <% if current_user? @user %>
    <%= link_to bookmarking_user_path(current_user), class: "tab" do %>
      <i class="fa fa-bookmark"></i>
      <%= t ".saved" %>
    <% end %>
  <% end %>
  <%= link_to "", class: "tab" do %>
    <i class="fa fa-tag"></i>
    <%= t ".tagged" %>
  <% end %>
</div>
