<li class="people__person" id="userid_<%= user.id %>" >
  <div class="people__column">
    <div class="people__avatar-container">
      <%= image_tag display_avatar_image(user), class: "people__avatar" %>
    </div>
    <div class="people__info">
      <%= link_to user, class: "link_to_user" do %>
        <span class="people__username">
          <%= user.username %>
          <% if user_signed_in? && current_user?(user) %>
            <%= image_tag Settings.user.verified_image, class: "ml-1" %>
          <% end %>
        </span> 
      <% end %>
      <span class="people__full-name"><%= user.name %></span>
    </div>
  </div>
  <% if user_signed_in? %>
    <%= render "users/follow_form", user: user %>
    <%= render "admin/users/destroy", user: user if can? :destroy, current_user %>
  <% else %>
    <button type="button" class="btn btn-primary follow_not_login"><%= t ".follow_not_login" %></button>
    <p class="alert_follow d-none"><%= t "users.user.text" %></p>
  <% end %>
</li>
