<% provide :title, t(".title") %>
<div class="user-edit-page">
  <div class="actions">
    <%= render "users/menu_left" %>
  </div>
 <div class="details">
    <%= form_for @user, local: true, html: {class: "form-horizontal form-edit-user"} do |f| %>
      <div class="form-group row">
        <div class="col-sm-3 col-form-label">
          <%= image_tag display_avatar_image(@user), class: "avatar" %>
        </div>
        <div class="col-sm-9">
          <p class="username"><%= @user.username %></p>
        </div>
      </div>
      <div class="custom-file form-group row file_field_input">
        <%= f.label t(".avatar_image"), class: "custom-file-label", for: "avatar_image" %>
        <%= f.file_field :avatar_image, class: "custom-file-input form-control",
          id: "avatar_image", accept: Settings.user.valid_image_types.join(",")
        %>
      </div>
      <div class="form-group row">
        <%= f.label t(".name"), class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label t(".username"), class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.text_field :username, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label t(".website"), class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.text_field :website, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label t(".bio"), class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.text_area :bio, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label t(".email"), class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label t(".phone"), class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.text_field :phone, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label t(".gender"), class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.select :gender, options_for_select(arr_gender, gender_user(@user)),
            class: "custom-select my-1 mr-sm-2"
          %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label t(".status"), class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.select :status, options_for_select(arr_status, status_account(@user)),
            class: "custom-select my-1 mr-sm-2"
          %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
          <%= f.submit t(".submit"), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
