<% provide :title, @user.name %>
<div class="user-profile" data_id="<%= @user.id %>">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper" id="show-user-avatar-image">
        <%= image_tag display_avatar_image(@user), class: "avatar" %>
      </div>
    </div>
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username" id="show-user-username">
          <%= @user.username %>
          <% if current_user? @user %>
            <%= image_tag Settings.user.verified_image, class: "ml-2" %>
          <% end %>
        </h2>
        <% if current_user? @user %>
          <%= link_to edit_user_path, class: "profile__button ml-5" do %>
            <%= t ".edit_profile" %>
          <% end %>
        <% else %>
          <div class="d-flex justify-content-between align-items-center">
            <div id="people__column__<%= @user.id %>" class="ml-5">
              <%= render follow_unfollow(@user), user: @user %>
            </div>
            <% if can?(:destroy, current_user) && !current_user?(@user) %>
              <%= link_to t(".destroy"), @user, class: "ml-3 btn btn-outline-danger submit_delete_user",
                  method: :delete,
                  data: { confirm: t(".sure") } %>
              <%= link_to Settings.disable_link, class: "profile__button ml-3",
                    data: {toggle: "modal", target: "#edit-modal-#{@user.id}"} do %>
                <%= t ".edit_profile" %>
              <% end %>
              <%= render partial: "admin/users/edit_modal", locals: {user: @user} %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= render "users/stat" %>
      <h2 class="name" id="show-user-name"><%= @user.name %></h2>
      <p class= "bio" id="show-user-bio"><%= @user.bio %></p>
      <%= link_to @user.website, class: "website", id: "show-user-website", target: "_blank" do %>
        <%= @user.website %>
      <% end %>
    </div>
  </div>
</div>
<%= render "users/tab" %>
<hr>
<% if display_gallery? @user %>
  <%= render "users/gallery" %>
  <%= render partial: "shared/list_modal", locals: {object: @user} %>
<% end %>
<%= javascript_pack_tag "load_posts", "data-turbolinks-track": "reload" %>
<%= javascript_pack_tag "load_users", "data-turbolinks-track": "reload" %>
