<% provide :title, t(".title") %>
<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <%= image_tag @user.default_avatar_image %>
      </div>
    </div>
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username %></h2>
        <%= link_to edit_user_path, class: "edit-profile" do %>
          <button><%= t ".edit_profile" %></button>
        <% end %>
      </div>
      <%= render "users/stat" %>
      <h2 class="name"><%= @user.name %></h2>
      <%= link_to class: "website" do %>
        <%= @user.website %>
      <% end %>
    </div>
  </div>
</div>
