<div class="instagram-card-header" >
  <%= image_tag display_avatar_image(post.user),
      class: "instagram-card-user-image" do %>
    <%= link_to post.user %>
  <% end %>
  <%= link_to post.user, class: "instagram-card-username" do %>
    <%= post.user_username %>
  <% end %>
  <% if current_user? post.user %>
    <%= link_to post, method: :delete, data: { confirm: t("sure_delete")} do %>
      <i class="fa fa-trash"></i>
    <% end %>
    <%= link_to edit_post_path(post) do %>
      <i class="fa fa-edit"></i>
    <% end %>
  <% end %>
</div>
