<% provide :title, @title %>
<div class="instagram-card" id="post-<%= post.id %>">
  <%= render "shared/card_header", post: post %>
  <%= render "shared/card_images", post: post, type: "feed" %>
  <%= render "shared/card_stat", post: post %>
  <%= render "shared/card_content", post: post %>
  <div class="instagram-card-footer">
  </div>
</div>
