<div class="instagram-card" id="post-<%= post.id %>"
  data_id="<%= post.id %>">
  <%= render "shared/card_header_feed", post: post %>
  <%= render "shared/card_images", post: post, type: "feed" %>
  <%= render "shared/card_stat", post: post %>
  <%= render "shared/card_content_feed", post: post %>
  <%= render "shared/card_footer", post: post %>
  <%= render partial: "shared/list_modal", locals: {object: post} %>
</div>
