<table class="table table-hover mt-5">
  <thead>
    <tr>
      <th scope="col"><%= t ".stt" %></th>
      <th scope="col"><%= t ".creator" %></th>
      <th scope="col">
        <%= t ".description" %>
        <span class="sort_post">
          <%= sort_link @q, :description, {}, {remote: true} do %>
            <i class="fa fa-sort"></i>
          <% end %>
        </span>
      </th>
      <th scope="col"><%= t ".images_count" %></th>
      <th scope="col"><%= t ".likes_count" %></th>
      <th scope="col">
        <%= t ".create_at" %>
        <span class="sort_post">
          <%= sort_link @q, :created_at, {}, {remote: true} do %>
            <i class="fa fa-sort"></i>
          <% end %>
        </span>
      </th>
      <th scope="col">
        <%= t ".update_at" %>
        <span class="sort_post">
          <%= sort_link @q, :updated_at, {}, {remote: true} do %>
            <i class="fa fa-sort"></i>
          <% end %>
        </span>
      </th>
      <th scope="col"><%= t ".action" %></th>
      <th scope="col"><%= t ".view_full" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "admin/posts/row", collection: @post_hash[:posts], as: :post %>
  </tbody>
</table>
<%= paginate @post_hash[:posts], remote: true, theme: "twitter-bootstrap-4" %>
