<%= provide :title, t(".posts") %>
<%= provide :active_post, t(".posts") %>
<% provide :button_text, t(".create_post") %>
<%= render "admin/button_admin" %>
<h1 class="text-center"><%= t ".title" %></h1>
<div class="frame-posts-admin" id="feeds">
  <div>
    <div class="d-flex justify-content-between align-items-center">
      <button type="button" class="btn btn-primary new-btn m-0" 
        data-toggle="modal" data-target="#new-post">
          <%= t ".new_post" %>
      </button>
    </div>
  </div>
  <%= render partial: "admin/posts/new_modal", locals: {post_hash: @post_hash} %>
  <%= render partial: "admin/posts/search_form" %>
  <div id="table_post">
    <%= render partial: "admin/posts/table", locals: {post_hash: @post_hash} %>
  </div>
<%= javascript_pack_tag "load_posts", "data-turbolinks-track": "reload" %>
<%= javascript_pack_tag "load_users", "data-turbolinks-track": "reload" %>
