<% if @users.any? %>
  <h2 class="text-center"><%= t ".result" %></h2>
  <h5><%= t ".for_user" %> "<%= @text_search %>"...</h5>
  <section class="people">
    <ul class="people__list">
    </ul>
  </section>
<% else %>
  <h2 class="text-center"><%= t ".not_result" %></h2>
  <h5><%= t ".for_user" %> "<%= @text_search %>"...</h5>
<% end %>
