<% if @posts.any? %>
  <h2 class="text-center"><%= t ".result" %></h2>
  <h5><%= t ".for_hashtag" %> "<%= @search %>"...</h5>
  <%= render "users/gallery" %>
  
<% else %>
  <h2 class="text-center"><%= t ".not_result" %></h2>
  <h5><%= t ".for_hashtag" %> "<%= @search %>"...</h5>
<% end %>
