<div class="instagram-card-content">
  <div id="bookmark_like__like" class="d-inline">
    <%= render like_unlike(@post) %>
  </div>
  <%= link_to "#", class: "instagram-card-icon" do %>
    <i class="fa fa-comment-o"></i>
  <% end %>
  <div id="bookmark_like__bookmark" class="d-inline">
    <%= render bookmark_unbookmark(@post) %>
  </div>
  <%= link_to "", "#", class: "instagram-card-icon" %>
  <div id="count_like_post">
    <%= link_to t(".count_like", count: User.likers(@post.id).size), likers_post_path(@post) %>
  </div>
  <p>
    <% if @post.description %>
      <%= link_to @post.user, class: "instagram-card-content-username" do %>
        <%= @post.user_username %>
      <% end %>
      <% separate_lines(@post.description).each do |line| %>
        <% separate_words(line).each do |word| %>
          <% if word.start_with? "#" %>
            <%= link_to word, "#", class: "hashtag" %>
          <% else %>
            <%= word %>
          <% end %>
        <% end %>
        <br>
      <% end %>
    <% end %>
  </p>
  <p class="date">
    <%= time_ago_in_words @post.created_at %>
  </p>
</div>
