<div class="instagram-card-content">
  <%= link_to "#", class: "instagram-card-icon" do %>
    <a class="instagram-card-icon" href="#"><i class="fa fa-heart-o"></i></a>
  <% end %>
  <%= link_to "#", class: "instagram-card-icon" do %>
    <a class="instagram-card-icon" href="#"><i class="fa fa-comment-o"></i></a>
  <% end %>
  <%= link_to "#", class: "instagram-card-icon instagram-bookmark" do %>
    <i class="fa fa-bookmark-o"></i>
  <% end %>
  <%= link_to "", "#", class: "instagram-card-icon" %>
  <p>
    <%= link_to t(".count_like", count: 70), "#" %>
  </p>
  <p>
    <% if @post.description %>
      <%= link_to @post.user, class: "instagram-card-content-username" do %>
        <%= @post.user_username %>
      <% end %>
      <% separate_lines(@post.description).each do |line| %>
        <% separate_words(line).each do |word| %>
          <% if word.start_with? '#' %>
            <%= link_to word, "#", class: "hashtag" %>
          <% else %>
            <%= word %>
          <% end %>
        <% end %>
        <br>
      <% end %>
    <% end %>
  </p>
  <p class="date">
    <%= time_ago_in_words @post.created_at %>
  </p>
</div>
