<%= form_for @post do |f| %>
  <%= render "shared/error_messages", object: @post %>
  <div class="form-group">
    <%= f.text_area :description, placeholder: t(".description") %>
  </div>
  <div class="form-group">
    <%= f.file_field :images, multiple: true, accept: Settings.image_format %>
  </div>
  <ul id="preview"></ul>
  <div class="text-center">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
