<div class="w-50 d-flex justify-content-between">
  <select class="form-control form-control-sm w-75 sort_value">
    <option value=<%= Settings.sort_user.created_at %> ><%= t ".created_at" %></option>
    <option value=<%= Settings.sort_user.updated_at %> ><%= t ".updated_at" %></option>
    <option value=<%= Settings.sort_user.name %> ><%= t ".name" %></option>
    <option value=<%= Settings.sort_user.username %> ><%= t ".username" %></option>
  </select>
  <button class="btn btn-primary btn-sm sort_btn"><%= t ".sort" %></button>
</div>
