<!--Footer-->
<footer class="container footer">
  <nav class="navbar d-flex">
    <ul>
      <li><%= t ".about_us" %></li>
      <li><%= t ".support" %></li>
      <li><%= t ".press" %></li>
      <li><%= t ".api" %></li>
      <li><%= t ".jobs" %></li>
      <li><%= t ".privacy" %></li>
      <li><%= t ".terms" %></li>
      <li><%= t ".directory" %></li>
      <li><%= t ".profiles" %></li>
      <li><%= t ".hashtags" %></li>
      <li><%= t ".language" %></li>
    </ul>
    <p><%= t ".instagram" %></p>
  </nav>
</footer>
<!--End Footer-->
