<!--Navigation Bar-->
<nav class="navbar navbar-light bg-light d-flex header">
  <div class="container">
    <div class="logo">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= fa_stacked_icon "camera inverse", base: "circle"%>
        <%= t "instagram" %>
      <% end %>
    </div>
    <div class="m-auto">
      <%= form_for :search, url: searches_path, role: "search", method: :get,
        html: {class: "form-inline search-form"} do %>
        <%= text_field_tag :search, @text_search, class: "form-control mr-sm-2",
          placeholder: t(".search")
        %>
      <% end %>
      <%= render "searches/search_frame" %>
    </div>
    <div class="user-section">
      <%= link_to "#" do %>
        <i class="fa fa-compass"></i>
      <% end %>
      <div class="d-inline box-notif" id="notification_icon">
        <i class="fa fa-heart"></i>
      </div>
      <%= render "notifications/badge_count_unread" if user_signed_in? %>
      <%= render "notifications/frame" %>
      <% if user_signed_in? %>
        <%= link_to current_user do %>
          <i class="fa fa-user"></i>
        <% end %>
        <%= link_to logout_path, method: :delete do %>
          <i class="fa fa-sign-in"></i>
        <% end %>
      <% end %>
    </div>
    <div class="dropdown ml-5">
      <button class="dropbtn dropbtn-language">
        <i class="fa fa-globe"></i>
      </button>
      <div class="dropdown-content">
        <%= link_to t(".english"), locale:"en" %>
        <%= link_to t(".vietnamese"), locale:"vi" %>
      </div>
    </div>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to admin_users_path do %>
        <div class="dropdown ml-2">
          <button class="dropbtn dropbtn-language"><%= t ".admin" %></button>
        </div>
      <% end %>
    <% end %>
  </div>
</nav>
<!--End Navigation Bar-->
